html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  direction: rtl;
  text-align: right;
}

.body1 {
  font-family: "David Libre", serif;
  background: #f8f3ed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%; 
}

p, h1, h2, h3, h4, h5, h6, li {
  direction: rtl;
  text-align: right;
}

footer {
  background-color: #FAF0E6;
  color: #000000 !important;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: auto; 
}
