.restaurant-card {
  display: block;
  text-decoration: none;
  color: inherit;
  border: none; 
  border-radius: 8px;
  overflow: hidden; 
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  flex: calc(25% - 100px); 
  max-width: calc(40% - 100px); 
  max-height: 400px; 
  width: 318px; 
  height: 318px;
}


.restaurant-card:hover {
  transform: scale(1.05);
}
